* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

h1,h2,h3,a{
    font-family: 'Meie Script', cursive;
}

p{
    font-family: 'Farsan', cursive;  
}
/* antichambre antichambre antichambre antichambre antichambre antichambre antichambre antichambre antichambre antichambre antichambre antichambre*/

section {
    width: 100vw;
    height: 100vh;
    display: flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
}

.logo_montmartre img {
    width: 100vw;
    height: 80vh;

}

section {
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
}



.language {
    width: 100vw;
    height: 15vh;
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
   
}

.language a {
    position: relative;
    text-decoration: none;
    color: #9C9B9B;
    
    font-size: 25px;
  
}






/*mediaqueries mediaqueries mediaqueries mediaqueries mediaqueries mediaqueries mediaqueries mediaqueries mediaqueries mediaqueries*/

@media screen and (max-width:415px){
 
.logo_montmartre img {
    height: 30vh;
}

.language {
    width: 100vw;
    height: 40vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    justify-content: space-around;
    -webkit-box-align: center;
            align-items: center;


}


}