/* home home home home home home home home home home home home home home home home home home home home home home home home home home home home home home */
/* page d'accueil page d'accueil page d'accueil page d'accueil page d'accueil page d'accueil page d'accueil  page d'accueilpage d'accueil*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: black;
    max-width: 100vh;
    height: 600vh;
    display: flex;
    flex-direction: column;

}

h1,
h2,
h3 {
    font-family: 'Meie Script', cursive;
}

p,a{
    font-family: 'Farsan', cursive;

}

.angel {
    display: none;
    position: fixed;
    right: 2%;
    top: 4%;
    z-index: 2;
    opacity: 0.8;

}

.maincontainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.mainhome {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.logohome {
    display: flex;
    justify-content: center;
}

.logohome img {
    width: 20%;
    height: auto;
    margin: 10px 0 10px 0;
}

.pano {
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: center;

}

.pano img {
    min-width: 100%;
    max-height: 100%;
}

.picmobil {
    display: none;
}

.pictologo {
width: 100VW;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.picto {

    width: 300px;
    display: flex;
    justify-content: space-around;
}

.picto img {
    width: auto;
    height: 6vh;
}

.scrolldown svg {
    width: auto;
    height: 8vh;
}

#arrow {
    animation: arrow 2s ease infinite;
}

@keyframes arrow {
    frome {
        opacity: 1;
        transform: translateY(0%);
    }

    to {
        opacity: 0;
        transform: translateY(35%);
    }


}

.logo {
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.logo img {
    width: auto;
    height: 6vh;
}

/* histoire du cimetière histoire du cimetière histoire du cimetière histoire du cimetière histoire du cimetière  histoire du cimetière histoire du cimetière histoire du cimetière histoire du cimetière */

.double_expo {
    min-height: 100vh;
    width: 90vw;


}

.double_expo img {
    position: absolute;
    left: 0;
    top: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    mix-blend-mode: darken;
}

.double_expo video {
    position: absolute;
    left: 0;
    top: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.history {
    position: absolute;
    left: 10%;
    top: 110%;
    width: 30%;
    height: 60%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 30px white;
    z-index: 3;
    display: flex;
    flex-direction: column;
}

.history span{
    margin-left:30px;
}

.history h2 {

    font-size: 2.2em;
    text-align: center;
}

.history p {
    font-size: 1.1em;
    margin: 20px;
    text-align: justify
    ;

}

.story_button {
    display: flex;
    justify-content: space-around;

}

.cat,
.more_story {
    width: 150px;
    height: 50px;
    text-decoration: none;
    color: #00000c;
    background: grey;
    border-radius: 10px;
    margin-top: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow:
        12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
        -8px -8px 8px 0 #383d44 inset;
}

.history h3 {

    font-size: 20px;
}





/* Photos du cimetière Photos du cimetière Photos du cimetière Photos du cimetière Photos du cimetière Photos du cimetièrePhotos du cimetière Photos du cimetière Photos du cimetière Photos du cimetière Photos du cimetière Photos du cimetière */



.walk h3{
    color: gray;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 5em;
    margin-top: 20px;
    
}


.container {
    height: auto;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:300px 300px 300px 300px 300px 300px;
    grid-gap: 5px;
    margin: 20px;
    margin-top: 0;

}

.container .box {
    position: relative;
    border-radius: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;

}


.container .box.a,.d,.p,.y {
    grid-column: span 2;
}

.container .box.c,.g,.h,.i,.m,.t,.u,.x{
    grid-row: span 2;
}

.container .box img {
    position: absolute;
    top: 0;
    border: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-duration: 2s;
}

.container .box img:hover {
    
    transition-duration: 2s;
    transform: scale(1.3);
}


/* photo des personnages celebres photo des personnages celebres photo des personnages celebres photo des personnages celebres photo des personnages celebres photo des personnages celebres photo des personnages celebres photo des personnages celebres photo des personnages celebres*/
.famous{
    width: auto;
    height: auto;
}

.famous h3{
    color: gray;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 5em;
    margin-top: 100px;
    
}


/*formulaire de contact formulaire de contact formulaire de contact formulaire de contact formulaire de contact formulaire de contact formulaire de contact formulaire de contact formulaire de contact formulaire de contact formulaire de contact formulaire de contactformulaire de contactformulaire de contact  */
.form {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #383d44
}


.contact {
    width: 500px;
    height: 600px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    opacity: 0.9;
    z-index: 1;
    padding: 10px;
}

.contact h3 {

    font-size: 2em;
    margin: 20px 0 20px;
    padding-left: 20px;
    color: #00000c;

}

.contact p {

    font-size: 0.8em;
    margin: 0 0 30px 20px;
}

.contact input {

    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.contact textarea {
    height: 100px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.contact div {
    width: 95%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.form svg {
    width: auto;
    height: 90vh;
}

/*.contact{
     animation:ct1 3s ease ;
 }
 @keyframes ct1{
    from{
        transform: translateZ(-200%);
    }
    to{
       transform: translateZ(0%); 
    }
}*/

#mgris1 {
    animation: m1 6s ease infinite;
}

@keyframes m1 {
    from {
        transform: translateX(-100%);
        opacity: 0.8
        ;
    }


    to {
        transform: translateX(100%);
        opacity: 0;
    }

}



.form svg {
    width: auto;
    height: 90vh;
}

#mgris2 {
    animation: m2 6s ease infinite;
}

@keyframes m2
 {
    from {
        transform: translateX(100%);
        opacity: 0.8;
    }


    to {
        transform: translateX(-100%);
        opacity: 0;
    }

}


/* plan et horaires plan et horaires plan et horaires plan et horaires plan et horaires plan et horaires plan et horaires plan et horaires plan et horaires plan et horaires plan et horaires plan et horaires plan et horaires plan et horaires plan et horaires  plan et horaires  plan et horaires plan et horaires  */


.baxlieuethoraires {
    display: flex;
    flex-direction: column;
}

.mapetheures {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.adresseethoraires {
    display: flex;
    flex-direction: column;
    background-image: url(ressources/images/IMG_20200116_130712.png);
    padding: 30px;
    width: 800px;
    height: 500px;
    border-radius: 10px;

  

}

.adresseethoraires h3 {

    font-size: 3.5em;
    text-align: center;
    margin-bottom: 20px;

}

.adresseethoraires p {
    font-size: 2em;
    text-align: center;
}

iframe{
    border-radius: 10px;
    height: 500px;
}

footer {
    display: flex;

    align-items: center;
    padding-left: 80px;
    padding-top: 70px;

}
footer a{
    color: white;
    font-size: 2em;
}

footer img{
    width: 30px;
    margin-left: 30px;
}

/*mediaqueries mediaqueries mediaqueries mediaqueries mediaqueries mediaqueries mediaqueries mediaqueries mediaqueries mediaqueriesmediaqueries mediaqueries mediaqueries mediaqueries mediaqueries mediaqueries */

@media screen and (max-width:1280px) {
 

    .pano {
        height: 68vh;
    }

    .pano img {
        max-width: 100%;
    }


    .history {
        position: absolute;
        left: 10%;
        top: 110%;
        width: 40%;
        height: 60%;
        background: white;
        border-radius: 10px;
        box-shadow: 0 0 30px white;
        z-index: 3;
        display: flex;
        flex-direction: column
    }


    .history h2 {

        font-size: 2.2em;
        text-align: center;
    }
    
    .history p {
        font-size: 15px;
        margin: 20px 20px 50px 20px;
        
    
    
    }
    
    .stoty_button {
        display: flex;
        justify-content: space-around;
    
    }
    
    .cat,
    .more_story {
        width: 120px;
        height: 50px;
        text-decoration: none;
        color: #00000c;
        background: grey;
        border-radius: 10px;
        margin-top: 0px;
    
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow:
            12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
            -8px -8px 8px 0 #383d44 inset;
    }
    
    .history h3 {
    
        font-size: 15px;
    }

    .adresseethoraires {
        display: flex;
        flex-direction: column;
        background-color: #d0d5de;
        padding: 30px;
        width: 400px;
        height: 500px;
        border-radius: 10px;
    
    }

    iframe{
        border-radius: 10px;
        width: 400px;
        height: 500px;
    }


}

@media screen and (max-width:1024px) {

    .logohome img {
        width: 25%;
        height: auto;
        margin: 20px 0 10px 0;
    }

    .pano {
        height: 65vh;
    }

    .history {
       
        height: 60%;
      
    }
    .history p {
        font-size: 15px;
        margin: 20px 20px 40px 20px;
    
    }
}
.container {
    height: auto;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 100px;
    grid-gap: 5px;
    margin: 20px;
    margin-top: 150px;

}

@media screen and (max-width:414px) {


  
    .logohome {
        justify-content: center;
    }

    .logohome img {
        width: 70%;
        margin: 10px 0 10px 10PX;
    }

    .angel img {
        width: auto;
        height: 50px;
    }

    .angel {
        top: 3%;
        right: 5%;
    }

    .pano {
        display: none;
    }

    .picmobil {
        display: block;
        width: 100%;
    }

    .picmobil img {
        width: 95%;
        max-height: 600PX;
    }

    .picto img {
        width: auto;
        height: 3vh;
    }

    .scrolldown svg {
        width: auto;
        height: 3vh;
    }
    
    .logo img {
        width: auto;
        height: 3vh;
    }

    .double_expo {
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        
    }

    .double_expo img{
        display: none;
    }

    .double_expo video{
        display: none
    }
  
    .history {
        
        position: absolute;
        left: 10%;
        top: 120%;
        width: 85%;
        height: 60%;
        background: white;
        border-radius: 10px;
        box-shadow: 0 0 30px white;
        z-index:0;
        

    }
    
    .history h2 {
        font-size: 1.5em;
    }
    
    .history p {
        font-size: 12px;
        margin: 20px 20px 60px 20px;
    

    }
      
    .cat,
    .more_story {
        width: 120px;  
    }
    
    /*.history h3 {
        font-size: 15px;
    }*/
    
    svg{
        display: none;
    }

    #M_gris1{
        display: none;
    }

    #M_gris2{
        display: none;
    }



    .contact {
        width: 90vw;
        height: 600px;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 10px;
        opacity: 0.9;
        z-index: 1;
        padding: 10px;
        margin:20px;
    }

.container {
    height: auto;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-gap: 5px;
    margin: 20px;

}


    .box1{
        width:300px;
    }

    .boxlieuethoraires {
        display: flex;
        flex-direction: column;
    }
    
    .mapetheures {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 50px;
    }
    
    .adresseethoraires {
        width: 380px;
        height: auto;   
        margin: 0 0 0 10px;
    
    }
    
    .adresseethoraires h3 {
    
        font-size: 3.5em;
        text-align: center;
        margin-bottom: 20px;
    
    }
    
    .adresseethoraires p {
        font-size: 2em;
        text-align: center;
    }

    iframe{
        margin-top:20px;
        margin-left: 10px;
        border-radius: 10px;
        width: 380px;
        height: 300px;

    }

    footer a{
        color: white;
        font-size: 1em;
    }

}
    @media screen and (max-width:393px) {
     
        .history {
        
            position: absolute;
            left: 10%;
            top: 125%;
            width: 85%;
            height: 70%;
            background: white;
            border-radius: 10px;
            box-shadow: 0 0 30px white;
            z-index:0;
           
        }
        
}
