* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 100vw;
    height: 100vh;
    background-color: #00000c;
}
h1,h2,h3,a{
    font-family: 'Meie Script', cursive;
}

p{
    font-family: 'Farsan', cursive;  
}

section {
    position: relative;
}

SVG {
    width: 100VW;
}

.m2 {
    position: absolute;
    top: 0%;
    z-index: 1;
    width: 100%;
}

#M1 {
    animation: M1 6s ease;
}

@keyframes M1 {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}


#M2 {
    animation: M2 6s ease;
}

@keyframes M2 {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.rank3{
    display: none;
}
li,
a {
    text-decoration: none;
    list-style: none;
    color: #757a82;
    
    font-size: 1.2em;
}

.rank1,
.rank2 {
    margin: 120px 30px 60px 30px;
}

.rank1 ul {
    display: flex;
    justify-content: space-between;
}

.rank2 ul {
    display: flex;
    justify-content: space-around;

}

a {
    position: relative;
    width: 200px;
    height: 50px;
    background-color: #00000c;
    padding: 10px 20px 10px 20px;
    font-size: 2em;
    


}

a:before,
a:after,
span:before,
span:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #757a82;
    transition: 1s;
    mix-blend-mode: hue;
}

a:before {
    top: -2px;
    left: -2px;
}

a:after {
    top: -2px;
    right: -2px;
}

span:before {
    bottom: -2px;
    left: -2px;
}

span:after {
    bottom: -2px;
    right: -2px;
}

a:hover:before,
a:hover:after,
a:hover span:before,
a:hover span:after {
    width: calc(230px/2);
    height: calc(40px/2);
}



.a1,
.a7 {
    animation: anim 4s ease;
}

@keyframes anim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.a2,
.a4 {
    animation: anim 6s ease;
}

@keyframes anim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.a3,
.a5 {
    animation: anim 2s ease;
}

@keyframes anim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.a6 {
    animation: anim 8s ease;
}

@keyframes anim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@media screen and (max-width:414px)
{
 

    .rank1{
        display: none;
    }
    .rank2{
        display: none;
    }
    .rank3{
        display: block;
        width: 100%;
        
    }
    .rank4{
        display: flexbox;
        
        justify-content: center;
    }
    p {
        margin: 50px;
        display: flex;
        justify-content: center;}


        a {
            position: relative;
            width: 250px;
            height: 50px;
            background-color: #00000c;
            padding: 10px 20px 10px 20px;
            font-size: 2em;  
       
    }
    SVG {
        width: 100VW;
        height: 100px;
    }  
  
    
}     
    